[Desktop Entry]
Version=1.0
Type=Application
Name=polkit-gnome-authentication-agent-1
Icon=unknown--usr-lib-polkit-gnome-polkit-gnome-authentication-agent-1
TryExec=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Exec=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
